<footer class="bg-dark py-4">
  <div class="container">
    <div class="row py-2">
      <div class="col-lg-4 text-center text-lg-left mb-2 mb-lg-0">
        <p class="small text-muted text-uppercase mb-0">&copy; copyright 2020 - all rights reserved</p>
      </div>
      <div class="col-lg-4 text-center mb-2 mb-lg-0">
        <ul class="list-inline text-white small mb-0">
          <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-4 text-center text-lg-right">
        <p class="small text-muted text-uppercase mb-0">Template designed by <a
            href="https://bootstraptemple.com/p/bootstrap-travel">Bootstrap Temple</a>. </p>
      </div>
    </div>
  </div>
</footer>