{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Destinations -->
<section class="pt-5">
  <div class="container">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <h1>Featured Destinations</h1>
    <p class="mb-0">Check out some of the places I've been to.</p>
  </div>
  {% if destinations %}
  <div class="destinations-slider owl-carousel owl-theme nav-center-custom owl-padding">
    {% for dst in destinations %}
    <a class="destination d-flex align-items-end bg-center bg-cover" href="{% url 'single-dst' dst.slug %}"
      style="background: url('{{ dst.imageUrl }}')">
      <div class="destination-inner w-100 text-center text-white index-forward has-transition">
        <p class="small text-uppercase mb-0">{{ dst.city }}</p>
        <h2 class="h3 mb-4">{{ dst.country }}</h2>
        <div class="btn btn-primary btn-block destination-btn text-white">Discover</div>
      </div>
    </a>
    {% endfor %}
  </div>
    {% else %}
    <h3 class="mt-3">No Desination Available</h3>
    {% endif %}
</section>
<!-- Divider Section -->
<section class="py-5">
  <div class="container py-4">
    <!-- Home listing -->
    <div class="row align-items-stretch bg-full-left">
      <div class="col-lg-6 pr-lg-0 order-2 order-lg-1">
        <div class="h-100 bg-light d-flex align-items-center">
          <div class="py-5 pr-4 pl-3 pl-lg-0">
            {% if latest_post %}
            <p class="text-primary font-weight-bold small text-uppercase mb-2">{{ latest_post.category }}</p>
            <h3 class="h4"> <a class="text-reset" href="{% url 'single-post' latest_post.slug %}">{{ latest_post.title }}</a></h3>
            <p class="text-muted text-small mb-3">{{ preview }}...</p>
            <ul class="list-inline small text-uppercase mb-0">
              <li class="list-inline-item align-middle"><img class="rounded-circle shadow-sm" src="{{ latest_post.imageUrl }}" alt="{{ latest_post.title }}" width="30" /></li>
              <li class="list-inline-item mr-0 text-gray align-middle">By </li>
              <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#">Jane
                  Doe</a></li>
              <li class="list-inline-item text-gray align-middle mr-0">|</li>
              <li class="list-inline-item text-gray align-middle">{{ latest_post.created_at }}</li>
            </ul>
            {% else %}
            <p>Could not get post</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-6 pl-lg-0 order-1 order-lg-2"><a class="d-block h-100 bg-center bg-cover" href="post.html"
          style="background: url({{latest_post.imageUrl}})"></a>
        </div>
    </div>
  </div>
</section>
<!-- Instagram section-->
<section class="pb-5">
  <div class="container pb-4">
    <header class="text-center mb-5">
      <h2>Gallery</h2>
      <p>Pictures from my adventures</p>
    </header>
    <div class="row">
      {% if destinations %}
      {% for dst in destinations %}
      <div class="col-lg-3 col-md-6 px-md-1 py-1">
        <a class="instagram-item d-block w-100 reset-anchor text-white"
          href="{% url 'single-dst' dst.slug %}">
          <img class="img-fluid" src="{{ dst.imageUrl }}" alt="{{ dst.title }}">
          <div class="instagram-item-overlay p-5">
            <h6>{{ dst.title }}</h6>
          </div>
        </a>
      </div>
      {% endfor %}
      {% else %}
      <p>No Destination Available</p>
      {% endif %}
    </div>
  </div>
</section>

<hr>

<!-- Subscribe section -->
<section class="py-5">
  <div class="container py-4">
    <div class="row align-items-center">
      <div class="col-lg-6 position-relative py-4"><img class="subscribe-img" src="{% static 'img/subscribe-img-1.jpg' %}" alt=""><img
          class="subscribe-img" src="{% static 'img/subscribe-img-2.jpg' %}" alt=""></div>
      <div class="col-lg-6">
        <h2>Best money saving - Travel tips</h2>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quidem facere aliquam,
          delectus, incidunt ipsum fugit deserunt ducimus quibusdam consequuntur quos numquam ipsa suscipit animi
          dolore. Est beatae inventore voluptas.</p>
        <form action="" method='POST'>
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-lg-8">
              <input class="form-control" type="email" name="email" placeholder="Enter your email address">
            </div>
            <div class="form-group col-lg-4">
              <button class="btn btn-dark btn-block" type="submit">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<hr>

<!-- Top categories section -->
<section class="py-5 bg-light">
  <div class="container py-4">
    <header class="mb-5 text-center">
      <h2>Destinations</h2>
      <p>Browse post by Continents</p>
    </header>
    <div class="row text-center">
      {% if continents %}
      {% for continent in continents %}
      <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0">
        <a class="reset-anchor d-block cat-card w-100 pt-4 pb-2" href="{% url 'continent-dst' continent.slug %}">
          <h3 class="h5">{{ continent.continent }}</h3>
          <p class="text-muted text-small">{{ continent.count }} Destinations</p>
        </a>
      </div>
      {% endfor %}
      {% else %}
      <p>No categories available</p>
      {% endif %}
    </div>
  </div>
</section>
<!-- Sponsors section-->
<section class="py-5">
  <div class="container py-4">
    <header class="text-center mb-4">
      <h2>Our sponsors</h2>
    </header>
    <!-- Brands -->
    <div class="owl-carousel sponsors-slider"><a href="#"><img class="d-block mx-auto my-3 sponsor"
          src="{% static 'img/brand-1.svg' %}" alt=""></a><a href="#"><img class="d-block mx-auto my-3 sponsor" src="{% static 'img/brand-2.svg' %}"
          alt=""></a><a href="#"><img class="d-block mx-auto my-3 sponsor" src="{% static 'img/brand-3.svg' %}" alt=""></a><a
        href="#"><img class="d-block mx-auto my-3 sponsor" src="{% static 'img/brand-4.svg' %}" alt=""></a><a href="#"><img
          class="d-block mx-auto my-3 sponsor" src="{% static 'img/brand-5.svg' %}" alt=""></a><a href="#"><img
          class="d-block mx-auto my-3 sponsor" src="{% static 'img/brand-6.svg' %}" alt=""></a>
    </div>
  </div>
</section>
{% endblock content %}