{% extends 'base.html' %}
{% load static %}
{% block title %}Destinations{% endblock title %}
{% block content %}
<!-- Hero section -->
<section class="hero bg-center bg-cover" style="background: url('{{destinations.2.imageUrl}}')">
  <div class="dark-overlay py-5">
    <div class="overlay-content">
      <div class="container py-5 text-white text-center">
        <h1>Destinations</h1>
        <p>These are some of the laces I have travelled to.</p>
      </div>
    </div>
  </div>
</section>
<!-- Blog listing -->
<section class="pt-5">
  <div class="container pt-5">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row mb-5">
      <div class="col-lg-8">
        <div class="row text-center">
          {% if destinations %}
          {% for dst in destinations %}
          <div class="col-lg-6 mb-5">
            <a href="{% url 'single-dst' dst.slug %}">
              <img class="img-fluid mb-4" src="{{ dst.imageUrl }}"
                alt="" />
            </a>
            <ul class="list-inline small text-uppercase mb-0">
              <li class="list-inline-item mr-0 text-gray align-middle">By </li>
              <li class="list-inline-item align-middle mr-0">
                <a class="font-weight-bold reset-anchor" href="#">Jane
                  Doe
                </a>
              </li>
              <li class="list-inline-item text-gray align-middle mr-0">|</li>
              <li class="list-inline-item text-gray align-middle">{{ dst.date_created }}</li>
            </ul>
            <h3 class="h4 mt-2">
              <a class="reset-anchor" href="{% url 'single-dst' dst.slug %}">{{ dst.title }}</a>
            </h3>
            <a class="reset-anchor text-gray text-uppercase small mb-2 d-block" href="#">Travel guide</a>
            <p class="text-small mb-1">{{ dst.description}}</p>
            <a class="btn btn-link" href="{% url 'single-dst' dst.slug %}">Continue reading</a>
          </div>
          {% endfor %}
          {% else %}
          <p>Couldn't get any destination</p>
          <a href="{% url 'create-dst' %}">Click here</a> to add destination
          {% endif %}
        </div>
        <!-- Listing navigation -->
        <div class="p-4 bg-light mb-5">
          <div class="row">
            {% if destinations.has_previous %}
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ destinations.previous_page_number }}">
              <i class="fas fa-angle-left mr-2"></i>
              Prev posts
            </a>
            {% endif %}
          </div>
          <div class="col-sm-6 text-center text-sm-right text-right">
            {% if destinations.has_next %}
            <a class="btn btn-outline-secondary btn-sm" href="?page={{ destinations.next_page_number }}">
              Next posts
              <i class="fas fa-angle-right ml-2"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      {% include '../includes/sidebar.html' with latest_posts=latest_posts %}
    </div>
  </div>
</section>

{% endblock content %}